body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.helf-width{
    width: 50%;
    padding: 5%;
}
.helf-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 800;
   }
   .top-bannar{
       background-image: url(./images/top-banner.png);
       background-repeat: no-repeat;
   }
   .dream-big{
       display: flex;
       
   }
   .part2{
       width: 50%;
       padding: 5%;

   }
   .part2 img{
       width: 90%;
   }
   .download-button{
       text-decoration: none;
       background-image: linear-gradient(orange, tomato);
       padding: 10px 40px;
       border-radius: 10px;
       color: white;
       font-weight: 700;
   }
   .dream-big{
       background-image: url(./images/dream-bg.png);
       background-repeat: no-repeat;
       background-position: right;
   }
   .flexible-container{
       display: flex;
   }
   .part3{
       
       width: 40%;
       padding-left: 20px;
       margin-left: 5%;
       margin-right: 5%;
       border-radius: 10px;
       box-shadow: 10px 10px 40px gray;
       

   }
   .experiences{
       background-image: url(./images/exp-bg.png);
       background-repeat: no-repeat;
   }
   #kamrul{
       border-left: 7px solid;
       border-image: linear-gradient(orange, tomato);
       border-image-slice: 1;
       
   }
   #hasan{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
   }
   footer p{
       text-align: center;
       background-color: salmon;
       padding: 5px 10px;
       border-radius: 10px; 
   }